<%= form_for @signup do |f| %>

  <% if @merchant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@merchant.errors.count, "error") %> prohibited
        this merchant from being saved:
      </h2>
      <ul>
        <% @merchant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name, "Full Legal Name *" %><br>
    <%= f.text_field :fullname %>
  </p>
 
  <p>
    <%= f.label :nric, "NRIC *" %><br>
    <%= f.text_field :nric %>
  </p>
 
   <p>
    <%= f.label :bodytemp, "Body Temperature \u{2103} *" %><br>
    <%= f.text_field :temperature %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>